body{
  background-color:cadetblue;
}

.quadro{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
} 
.card-moeda{
  margin: 10px;
}

.oi{
  width: 19rem;
}

.coinlogo{
  width: 40px;
}

.card-title{
  display: flex;
  align-items: center;
  justify-content: space-around;
}